.navbar {
    background-color: rgb(28, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 70px;
}

.navbar-logo {
    color: olivedrab;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
    margin-right: 2rem;
}

.logo {
    height: 30px;
    width: 30px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    /* display: flex; */
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: flex-end;
}

.nav-item {
    height: 70px;
}

.nav-links {
    color: whitesmoke;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.nav-links:hover {
    border-bottom: 4px solid olivedrab;
    color: olivedrab;
    transition: all 0.2s ease-out;
}

.menu-icon {
    display: none;
}

.activated {
    color: olivedrab;
}

@media screen and (max-width: 960px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: all 0.6s ease;
    }

    .nav-menu.active {
        background: rgb(28, 27, 27);
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
        /* height: 100vh;
        padding-bottom: 300px; */
        padding-bottom: 20px;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        color: olivedrab;
        transform: scale(1.2);
        transition: all 0.3s ease;
        border-bottom: none;
    }

    .nav-item {
        width: 100%;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}