.carousel {
    height: 100vh;
    max-height: 800px;
    position: relative;
    overflow: hidden;
}

.carousel-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.left {
    position: absolute;
    left: 32px;
    color: ivory;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right {
    position: absolute;
    right: 32px;
    color: ivory;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slider {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* .slider::before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    bottom: 0vh;
    left: 0;
    overflow: hidden;
    opacity: 0.4;
    background: linear-gradient(
        0deg, 
        rgba(0,0,0,0.2) 0%, 
        rgba(0,0,0,0.2) 50%, 
        rgba(0,0,0,0.6) 100%);
} */

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.carousel-content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    width: calc(100% - 100px);
    color: #fff;
}

.carousel-content h1 {
    /* font-size: clamp(1rem, 8vw, 4rem); */
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    text-align: center;
    margin-bottom: 0.8rem;
}

.carousel-content p {
    text-align: center;
    /* font-size: clamp(.5rem, 10vw, 1.8rem); */
    font-size: 1.8rem;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

@media screen and (max-width: 960px) {
    .left {
        left: 15px;
    }

    .right {
        right: 15px;
    }

    .carousel-content h1 {
        font-size: 2.3rem;
    }

    .carousel-content p {
        display: none;
    }
}