.carousel {
    position: relative;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.left {
    position: absolute;
    top: 50%;
    left: 32px;
    color: black;
    /* z-index: 10; */
    cursor: pointer;
    user-select: none;
}

.right {
    position: absolute;
    top: 50%;
    right: 32px;
    color: black;
    /* z-index: 10; */
    cursor: pointer;
    user-select: none;
}

.item {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}