.carousel {
    position: relative;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.left {
    position: absolute;
    left: 32px;
    color: black;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}

.right {
    position: absolute;
    right: 32px;
    color: black;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}

.item {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media screen and (max-width: 910px) {
    .item {
        max-height: min-content;
        width: 100%;
    }
}