.footer-container {
    background-color: rgb(28, 27, 27);
    padding: 3rem 0 2rem 0;
    color: whitesmoke;
    margin-top: auto;
}

.footer-wrap {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 6rem;
    padding-bottom: 1.7rem;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-form {
    display: block;
    padding: 1rem 2rem;
    margin: 0 auto;
}

footer h4 {
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 18px;
}

.footer-form p {
    margin-bottom: 20px;
    font-size: 14px;
}

.footer-input {
    min-height: 50px;
    max-width: 300px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #588658;
    border-radius: 7px 0 0 7px;
    background-color: transparent;
}

.footer-input:focus,
.footer-input:focus-visible {
    border-color: #588658;
    outline: none;
}

footer button {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 7px 7px 0;
    background-color: #588658;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

footer button:hover {
    background-color: #588658;
}

.contact-us {
    justify-content: center;
    align-items: center;
    text-align: left;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.footer-list {
    list-style: none;
}

.footer-item {
    margin-bottom: 8px;
}

.footer-links {
    text-decoration: none;
    color: whitesmoke;
    transition: color .3s ease-in;
}

.footer-links:hover {
    color: #588658;
}

.socials {
    padding: 2rem;
}

.socials-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
}

.socials-links {
    text-decoration: none;
    color: #588658;
    font-size: 25px;
}

.bottom {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.rights {
    width: 60vw;
}

/* .logo-link {
    margin-right: 3rem;
    color: olivedrab;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
} */

@media screen and (max-width: 910px) {
    .footer-wrap {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-input {
        width: 55%;
    }

    footer button {
        width: 25%;
    }
}